<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{block 'title'}}动漫部{{/block}}</title>
	<style>
			*{padding: 0px;margin: 0px;}
			body{position: relative;}
	</style>
	<link rel="stylesheet" href="/public/index/css/common.css">
	{{block 'head'}}{{/block}}

</head>
<body>
		{{block 'content'}}{{/block}}

		{{block 'script'}}{{/block}}
</body>
</html>